<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True"/>
    <add key="automatic" value="True"/>
  </packageRestore>
  <packageSources>
    <add key="Local_Nuget_Feed" value="C:\Local_Nuget_Feed"/>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json"/>
    <!--<add key="CompanyNugetFeed" value="https://nuget.pkg.github.com/-company-/index.json"/>-->
  </packageSources>
  <packageSourceCredentials>
    <!--<CompanyNugetFeed>
      <add key="Username" value="CompanyNuget-User"/>
      <add key="ClearTextPassword" value="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"/>
    </CompanyNugetFeed>-->
  </packageSourceCredentials>
</configuration>
